A,A:VISITED {
	color: blue;
	text-decoration: underline;
}

A:HOVER {
	color: blue;
	text-decoration: underline;
}

#g_title p, #g_footer p, #g_description p {
	margin: 0;
}
  /*
  	-- -- -- -- -- -- --
  	Browser Fixes
  	-- -- -- -- -- -- --
  	
  	This file uses CSS filtering methods to fix various
  	layout bugs.

  	Each of the following three imported files is a 
  	separate, browser-specific CSS file that keeps all 
  	hacks out of the main style sheet.
  	
  	Over time, as supporting these browsers no longer
  	remains a priority, cleaning up the hacks is as
  	easy as deleting the @import statement below, or
  	simply no longer linking this file from the HTML.
  	
  */

/* 
fix ie6 "peekaboo bug" using the "holly hack". 
Note, this style only gets applied to ie6
*/
* html .wrapper {
	height: 0.1%;
}

/* 
* IE5 mac - overrides the IE/Win hack 
*/

/*\*//*/

* html #threecolumn div {
	height: auto;
}

/**/


/* 
* IE5/Win-specific CSS -ensures #container wraps all content on window resize
*/

@media tty {
	i{content:"\";/*" "*/}} * html #container { height: 1%; } /*";}
}

/* */
  
#footer {
	clear: both;
}
  
/* Extra divs hidden by default. The custom CSS can override this though */
#extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 {
	display: none;
}
  
a img,:link img,:visited img {border: none;}

body {
	/*text-align: center;*/
}
#container {
	margin: 0 auto;
}
#main-content {
	margin:0 10px 0 153px;
}
#sidebar {
	float: left;
	width: 145px;
	height:auto;
	padding-left: 8px;
}
#footer {
	clear: both;
}
#layout {
	float:left;
}
#messages {
}
#mesh {
	width: 2048px;
}

/** BEGIN CUSTOM SKIN **/
/*

-- -- -- -- -- -- --
Base CSS
-- -- -- -- -- -- --
  	
This file simply removes default styling on most HTML elements in 
order to reduce the need to later override them.
  	
*/

h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}
a img,:link img,:visited img {border: none;}
address {font-style: normal;}

input {
	font-size: 12px;
	font-weight: normal;
	font-family: arial, sans-serif;
}

textarea {
	font-size: 12px;
	font-weight: normal;
	font-family: arial, sans-serif;
}

/*
	-- -- -- -- -- -- --
	Type Scheme: Deco
	-- -- -- -- -- -- --  	
*/

body {
	/*font: 76% Verdana, sans-serif;*/
	font: 76% sans-serif;
	font-family: arial, sans-serif;
}	
h1, h2, h3, h4, h5, h6, p.description {
	/*font-family: "Trebuchet MS", Trebuchet, sans-serif;*/
	font-family: arial, sans-serif;
}
h1 {
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 2px;
}
h2 {
	font-size: 2em;
	font-weight: normal;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
	letter-spacing: 0.2em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
p, td {
	line-height: 1.8em;
}
code, kbd {
	font-size: 1.25em;
}

/*
	-- -- -- -- -- -- --
	STYLE: Chemise
	-- -- -- -- -- -- --
*/

/* ie6win */

#footer {
	height: 1%;
}

/* ie5mac */

/*\*//*/
#footer { height: auto; }
/**/

/* ie5 win */
@media tty {
	i{content:"\";/*" "*/}} td, * html th { font-size: 0.8em; } h1 { height: 1%; } /*";}
}

/* */

/* Basic HTML style
----------------------------------------------- */
a:link {
	padding: 0px;
}
body {
	/*font: 80% "Lucida Grande", "Lucida Sans Unicode", sans-serif;*/
	font: 80% arial, sans-serif;
}
blockquote {
      margin: 1em 1em;
      font-style: italic;
}
hr {
}
td {
	padding: 0px;
}
th {
}
td p {
}
ul li {
}
ol li {
}

/* Header
----------------------------------------------- */
#container {
}
#header {
	position: relative;
	margin: 0;
	margin-bottom: 0px;
}
p.description {
	font-size: 1em;
	/*margin: 0;
	padding: 0.5em 15px;
	border-bottom: solid 1px #000;*/
}
#g_description {
	/*margin: 1em 0 1em 15px;*/
}

/* Custom font definitions
----------------------------------------------- */
p {
}
td, td p {
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
	/*font-family: "Trebuchet MS", arial, sans-serif;*/
	font-family: arial, sans-serif;
}

/* layout patches
----------------------------------------------- */
#twocolumn-liquid-left #sidebar {
	float: left;
}
#twocolumn-liquid-right #sidebar {
	float: right;
}
#threecolumn #sidebar-alternate {
	float: right;
}

/* Footer
----------------------------------------------- */
#footer {
	padding: 1px 15px;
	clear: both;
}
#footer hr {
	display: none;
}

/* fixed 1 column
----------------------------------------------- */
#onecolumn #main-content .wrapper {
	margin: 0px;
}

/* fixed left 2 column
----------------------------------------------- */
#twocolumn-left #main-content .wrapper {
	margin: 0px;
	padding: 0px;
}

#g_body, #content-item, #main-content .wrapper {
	float: left;
}

/* fixed right 2 column
----------------------------------------------- */
#twocolumn-right #main-content .wrapper {
	padding: 0px;
	margin: 0px;
}

/* fixed right 3 column
----------------------------------------------- */
#threecolumn #main-content .wrapper {
	padding: 0px;
	margin: 0px;
}

#threecolumn #sidebar h3, #threecolumn #sidebar-alternate h3 {
	margin: 0px;
}

/* liquid left 2 column
----------------------------------------------- */
#twocolumn-liquid-left #main-content .wrapper {
	margin: 0px;
}

/* liquid right 2 column
----------------------------------------------- */
#twocolumn-liquid-right #main-content .wrapper {
	margin: 0px;
}

/*
	-- -- -- -- -- -- --
	COLOR SCHEME: Ember
	-- -- -- -- -- -- --
*/
/* Header
----------------------------------------------- */
#container {
	background: none;
}
#header {
}
p.description {
	color: #000;
	text-align: right;
	margin-right: 10px;
}

/* Custom font definitions
----------------------------------------------- */
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}

/* sidebar
----------------------------------------------- */
#sidebar, #sidebar-alternate {
}

/* liquid variation
----------------------------------------------- */
#twocolumn-liquid-left #container, #twocolumn-liquid-right #container {
}
#twocolumn-liquid-left #container .wrapper, #twocolumn-liquid-right #container .wrapper {
}
#twocolumn-liquid-left #container .wrapper .wrapper, #twocolumn-liquid-right #container .wrapper .wrapper {
}
#twocolumn-right #sidebar, #twocolumn-liquid-right #sidebar, #threecolumn #sidebar-alternate {
}

/* Footer
----------------------------------------------- */
#footer {
	color: #000;
	text-align: center;
}

/** END CUSTOM SKIN **/

.BUTTON {
	border: 1px solid black;
}
  
.link {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

.linkUnderline {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/* hide a block */
.hide {
	display: none;
	visibility: hidden;
}

/* show a block */
.show { /*display: inline;*/
	visibility: visible;
}

.showError { /*display: inline;*/
	visibility: visible;
	color: white;
	background-color: red;
	padding: 2px;
	border: 1px solid black;
	font-size: 11px;
	width: 500px;
	text-align: left;
}

.showInfo { /*display: inline;*/
	visibility: visible;
	color: white;
	background-color: #38afe2;
	padding: 2px;
	border: 1px solid black;
	font-size: 11px;
	width: 500px;
	text-align: left;
}

.toolbarInfo {
	background-color: #fbcc4b;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.layout {
}

.didyoumean {
	padding: 2px;
	font-size: 13px;
	color: red;
	background-color: #f1f1f1;
	font-weight: bold;
	border-top: 1px solid rgb(0, 128, 0);
}

.foot {
	text-align: center;
}

.buttonCompose {	
	border: 1px solid black;
	background-color: #008000;
	color: white;
	font-weight: bold;
	padding: 3px;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.divButtonCompose {
	padding-top: 5px;
	padding-bottom: 10px;
}

#cornerLoading {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 100px;
	margin: 0px;
	padding: 5px 5px 5px 5px;
	font: 11px/ 1.2em "lucida console", "courier new", monospace;
	text-align: left;
	color: white;
	background-color: red;
	border: 1px solid black;
	display: none;
}

/* star html hack - IE only */
* html #cornerLoading {
	position: absolute;
}

/* a bet on future IEs */
#cornerLoading [id] {
	position: fixed;
}

.paginationLink {
	font-size: 13px;
	font-weight: bold;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.pagination {
	font-size: 13px;
	font-weight: bold;
}

.paginationActual {
	font-size: 13px;
	font-weight: bold;
}

.paginationTotal {
	font-size: 13px;
	font-weight: bold;
}

.labels {
	border: 1px solid #008000;
	white-space: nowrap;
	margin-right: 5px;
	padding: 3px;
}

.labelsTitle {
	color: #fff;
	font-weight: bold;
	background-color: #008000;
	margin-right: 5px;
	padding: 3px;
	cursor: pointer;
}

.labelsContents {
	table-layout: fixed;
	cursor: pointer;
	cursor: hand;
}

.label {
	color: blue;
	cursor: pointer;
}

.labelSelected {
	background-color: #dcf6db;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

#divInfo {
	margin-bottom: 2px;
	margin-right: 5px;
	float: right;
}

.divBookmarks {
	padding-left: 25px;
	width: 600px;
	padding-top: 20px;
}

.bookmarkTitle {
}

.bookmarkUrl {
	color: green;
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
}

.bookmarkContents {
	color: #676767;
}

.bookmarkKeywords {
	color: maroon;
}

.bookmarkExtra {
	
}