.rcvdMessages, input {
   font-family: Arial;
}

.rcvdMessages {
   margin-top: 5px;
   padding-top: 2px;
   padding-left: 2px;
   border-width: 1px;
   border-style: solid;
   border-color: #bfbcb8 #e0dcd8 #e0dcd8 #bfbcb8;
   background-color: #fff;
   overflow: auto;
   font-size: 11px;
   text-align: left;
}

.rcvdMessages a {
   color: #5c78cb;
}

.inputText {
   position: absolute;
   left: 5px;
   right: 10px;
   margin-top: 5px;
   height: 18px;
   border: 1px solid #bfbcb8;
   padding: 3px;
}

.imToolbar {
   position: absolute;
   left: 5px;
   right: 10px;
   margin-top: 5px;
   height: 16px;
}

.toolbarButton {
   cursor: pointer;
}

.userA { color: #8f3838; }
.userB { color: #30407b; }
.imHistory { color: #aaa; }


div#statusSettings {
   display: block;
   margin-top: 2px;
   margin-bottom: 10px;
   cursor: pointer;
   border: 1px solid #CCCCCC;
}

span#curStatus {
   display: block;
   -moz-outline-style: none;
   text-decoration: none;
   height: 20px;
   font-size: 11px;
   background-color: #e0ecff;
   padding: 2px;
   background-image: url(../images/default/arrow.png);
   background-position: center right;
   background-repeat: no-repeat;
   border: 1px solid #e0ecff;
}

span#curStatus:hover {
   border: 1px solid #000000;
}

div#statusList {
   display: none;
   position: absolute;
   border: 1px solid #bfbcb8;
   background-color: #e0ecff;
   z-index: 1000;
   width: 200px;
}

div#statusList span {
   padding: 2px 3px 2px 3px;
   display: block;
   width: 193px;
   font-size: 11px;
   background-color: #e0ecff;
   text-decoration: none;
   cursor: pointer;
}

div#statusList span:hover {
   background-color: #FFFFFF;
}

input#customStatus {
   position: absolute;
   padding: 1px;
   border: 1px solid #000;
   margin: 0px;
   font-size: 11px;
   width: 114px;
}