BODY {
	font-family: arial;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

TR,TD,DIV,P {
	font-family: arial;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}

SELECT,INPUT,TEXTAREA {
	font-family: arial;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}

.BUTTON {
	border: 1px solid black;
}

.BUTTON_ADD_FEED {
	border: 1px solid #000088;
	background-color: #e5ecf9;
}

FORM {
	margin: 0px;
	padding: 0px;
}

SELECT:focus,input:focus,textarea:focus {
	background-color: lightyellow;
	color: black;
}

A,A:VISITED {
	color: blue;
	text-decoration: underline;
}

A:HOVER {
	color: blue;
	text-decoration: underline;
}

.link {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

.linkUnderline {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/* hide a block */
.hide {
	display: none;
	visibility: hidden;
}

/* show a block */
.show { /*display: inline;*/
	visibility: visible;
}

.showError { /*display: inline;*/
	visibility: visible;
	color: white;
	background-color: red;
	padding: 2px;
	border: 1px solid black;
	font-size: 11px;
	width: 500px;
	text-align: left;
}

.showInfo { /*display: inline;*/
	visibility: visible;
	color: white;
	background-color: #38afe2;
	padding: 2px;
	border: 1px solid black;
	font-size: 11px;
	width: 500px;
	text-align: left;
}

.mesh {
	width: 100%;
	text-align: center;
	padding-left: 10px;
}

.headLeft {
	width: 0px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 8px;
	white-space: nowrap;
}

.headCenter {
	width: 100%;
	text-align: right;
	vertical-align: top;
	font-size: 11px;
}

.toolbarInfo {
	background-color: #fbcc4b;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
}

.navLeft {
	height: 22px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.navCenter {
	height: 22px;
	padding-right: 20px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 14px;
}

.left {
	vertical-align: top;
	padding-left: 5px;
	padding-bottom: 5px;
}

.menu {
	width: 0px;
}

.contents {
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 8px;
	text-align: left;
}

.layout {
	
}

.didyoumean {
	padding: 2px;
	font-size: 13px;
	color: red;
	background-color: #f1f1f1;
	font-weight: bold;
	border-top: 1px solid rgb(0, 128, 0);
}

.foot {
	height: 22px;
	font-size: 11px;
	padding-left: 8px;
	padding-right: 10px;
	text-align: center;
}

.keywords {
	width: 150px;
}

.keyword {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	width: 150px;
	cursor: pointer;
	font-size: 13px;
}

.keywordSelected { /*c7dfaa2*/
	background-color: #fbcc4b;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	width: 150px;
	cursor: pointer;
	font-size: 13px;
}

.buttonCompose {
	border: 1px solid black;
	width: 100%;
	background-color: #008000;
	color: white;
	font-weight: bold;
}

.buttonEditDraft {
	border: 1px solid black;
	background-color: #38afe2;
	color: white;
	font-weight: bold;
}

#cornerLoading {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 100px;
	margin: 0px;
	padding: 5px 5px 5px 5px;
	font: 11px/ 1.2em "lucida console", "courier new", monospace;
	text-align: left;
	color: white;
	background-color: red;
	border: 1px solid black;
	display: none;
}

/* star html hack - IE only */
* html #cornerLoading {
	position: absolute;
}

/* a bet on future IEs */
#cornerLoading [id] {
	position: fixed;
}

.messages {
	
}

.tableHeader {
	
}

.tableHeader td.title {
	background-color: #fbcc4b;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.tableHeader td.area {
	
}

.tableHeader td.areaWithPadding {
	padding: 5px;
}

.composeArea {
	background-color: #eeeeee;
}

.tableMessages {
	table-layout: fixed;
	width: 100%;
}

.tableMessages td.noMail {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
	height: 300px;
}

.tableMessages td.error {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: maroon;
}

.tableMessages td.message {
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
	background-color: #f1f1f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.tableMessages td.messageNew {
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
	background-color: #ffffcc;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #bbbbbb;
	font-weight: bold;
	cursor: pointer;
}

.tableMessages td.messageImportant {
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
	background-color: #c6e4ff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	cursor: pointer;
}

.tableMessages span.infoBox {
	font-size: 10px;
	font-weight: normal;
	color: green;
}

.tableReadMessage {
	table-layout: fixed;
	width: 85%;
}

.tableReadMessage td.subject {
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	background-color: #eeeeee;
	width: 100%;
}

.tableReadMessage td.options {
	padding: 5px;
	width: 100%;
	background-color: #eeeeee;
}

.tableReadMessage td.print {
	padding-bottom: 0px;
	padding-top: 10px;
	width: 100%;
	text-align: right;
}

.tableReadMessage span.from {
	font-weight: bold;
	font-size: 13px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.tableReadMessage td.body {
	width: 100%;
	border: 1px solid #eeeeee;
	padding: 5px;
}

.tableReadMessage td.attachment {
	padding: 5px;
	width: 100%;
	background-color: #eeeeee;
}

.tableOptions {
	border: 1px solid #eeeeee;
	background-color: #fbf9c1;
	padding: 3px;
}

.tableOptions td {
	font-size: 13px;
}

/************ DYNAMIC LIST CONTACTS ***************/ /* Big box with list of options */
#ajax_listOfOptions {
	position: absolute; /* Never change this one */
	width: 500px; /* Width of box */
	height: 250px; /* Height of box */
	overflow: auto; /* Scrolling features */
	border: 1px solid #3d6a9b; /* Dark green border */
	background-color: #fff; /* White background color */
	text-align: left;
	font-size: 12px;
	z-index: 100;
}

#ajax_listOfOptions div { /* General rule for both .optionDiv and .optionDivSelected */
	margin: 1px;
	padding: 1px;
	cursor: pointer;
	font-size: 12px;
}

#ajax_listOfOptions .optionDiv { /* Div for each item in list */
	
}

#ajax_listOfOptions .optionDivSelected { /* Selected item in the list */
	background-color: #f7bc3e;
	color: #000000;
}

.paginationLink {
	font-size: 13px;
	font-weight: bold;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.pagination {
	font-size: 13px;
	font-weight: bold;
}

.paginationActual {
	font-size: 13px;
	font-weight: bold;
}

.paginationTotal {
	font-size: 13px;
	font-weight: bold;
}

.labels {
	border: 1px solid #008000;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 5px;
	padding: 3px;
}

.labelsTitle {
	color: white;
	font-weight: bold;
	background-color: #008000;
	margin-right: 5px;
	padding: 3px;
	cursor: pointer;
}

.label {
	color: blue;
	cursor: pointer;
}

.labelSelected {
	background-color: #dcf6db;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.divBookmarks {
	padding-left: 25px;
	width: 600px;
	padding-top: 20px;
}

.bookmarkTitle {
	font-size: 14px;
}

.bookmarkUrl {
	font-size: 12px;
	color: green;
	white-space: nowrap;
	overflow: hidden;
	empty-cells: show;
}

.bookmarkContents {
	font-size: 13px;
	color: #676767;
}

.bookmarkKeywords {
	font-size: 12px;
	color: maroon;
}

.bookmarkExtra {
	
}

/***************************************************************/
#mainContainer {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	height: 100%;
	padding-bottom: 30px;
}

#header { /* Header at the top of the demo */
	height: 10px;
	border-bottom: 3px solid #000088;
}  /* Logo image */
#header img {
	z-index: 1000;
	float: left;
}

.dragableBox { /* The RSS box */
	background-color: #fff;
	margin: 5px;
	border-right: 2px solid #aaa; /* "Shadow "*/
	border-bottom: 2px solid #aaa; /* "Shadow " */
}

/* A div inside the rss box - with a blue border */
.dragableBoxInner {
	border: 1px solid #000088;
}

.dragableBoxHeader { /* Header inside RSS box */
	background-color: #e5ecf9;
	height: 22px;
	font-weight: bold;
	font-size: 14px;
	color: #000088;
}

.dragableBoxHeader span { /* Text inside header of RSS box */
	line-heigth: 20px; 
}

.dragableBoxHeader img,.dragableBoxHeader span { /* Text and reload image inside RSS box */
	float: left;
}

.boxItemHeader { /* Title of items inside dragable boxes */
	margin: 0px;
	color: #000088;
	font-size: 13px;
	text-decoration: none;
	overflow: hidden;
}

.boxItemHeader:hover { /* Title of items inside dragable boxes - mouseover*/
	margin: 0px;
	color: #6c5820;
	text-decoration: underline;
}

.dragableBoxHeader input { /* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
	font-size: 10px;
}

.rssNumberOfItems { /* Number of RSS items in header - the one inside parantheses */
	color: #000088;
}

.dragableBoxContent { /* DIV holding data inside dragable boxes */
	padding: 3px;
	clear: both;
}

#rectangleDiv { /* Dotted rectangle indicating where objects will be dropped */
	border: 1px dotted red;
	margin: 5px;
}

.closeButton { /* Close button */
	padding: 2px;
	border: 1px solid #000088;
	line-height: 9px;
	height: 9px;
	margin: 2px;
	color: #000088;
	padding: 2px;
	padding-bottom: 3px;
	text-decoration: none;
}

.closeButton_over { /* Close button - mouse over */
	padding: 2px;
	border: 1px solid #000088;
	line-height: 9px; 
	padding: 2px;
	padding-bottom: 3px;
	margin: 2px;
	background-color: #FFFFFF;
	color: #fff;
	text-decoration: none;
}

.dragableBoxStatusBar { /* Status bar at the bottom of rss boxes */
	border-top: 3px double #000088;
	height: 14px;
	background-color: #e5ecf9;
	padding: 2px;
}

.dragableBoxEditLink { /* Edit link on top of a box */
	color: #000088;
	text-decoration: none;
	padding-top: 1px;
}

.dragableBoxEditLink:hover { /* Edit link - mouse over */
	color: #000088;
	text-decoration: none;
}

form { /* No borders in forms */
	display: inline;
}

#addNewFeed { /* The white box at the top right corner where you can add a new RSS feed */
	float: right;
	width: 400px;
	background-color: #e5ecf9;
	border: 2px solid #000088;
	padding: 2px;
	margin-right: 2px;
	margin-top: 0px;
	z-index: 1000;
}

#addNewFeedButton { /* The white box at the top right corner where you can add a new RSS feed */
	float: right;
	background-color: #fff;
	padding: 2px;
	margin-right: 2px;
	margin-top: -80px;
	z-index: 1;
}

#addNewFeedButton1 { /* The white box at the top right corner where you can add a new RSS feed */
	float: left;
	background-color: #fff;
	padding: 2px;
	margin-right: 2px;
	height: 80px;
}

img {
	border: 0px;
}